@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Pen+Script&display=swap');

h1 {
    font-family: "Jua", sans-serif;
}
.main {
    text-decoration: none;
    font-size: 50px;
}
table {
    font-family: "Nanum Pen Script", cursive;
}
input {
    background: none;
    border: none;
    width: 200px;
    font-family: "Nanum Pen Script", cursive;
}
button {
    border: none;
    background: none;
    font-family: "Nanum Pen Script", cursive;
    font-size: 20px;
}